#z-plane {
    width: 500px;
    height: 500px;
}

#frequency-response {
    /* display: flex;
    justify-content: space-between; */
    margin-top: 20px;
    height: 500px;
}

#magnitude-response,
#phase-response {
    /* width: 400px; */
    height: 200px;
}


.axis {
    stroke: #888;
    stroke-width: 1px;
}
