#z-plane {
    width: 400px;
    height: 400px;
}

#frequency-response {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 500px;
}

.plotWrapper {
    width: 100%;
}

#magnitude-response,
#phase-response {
    /* width: 400px; */
    height: 200px;
}


.axis {
    stroke: #888;
    stroke-width: 1px;
}
